
body{
    font-family: cursive;
    font-weight: bold;
    color: #0c2431;
}

input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 25px;
    text-align: center;
    width: 175px;
    margin: 5px;
}

button
{
	background: #b69b7d ;
    width: 20%;
    height: 20%;
	margin-top: 30px;
  	padding: 10px ;
	border: 1px solid #fff;
  	border-radius: 10px;
  	cursor: pointer;
	color: white;
	font-style: normal;
	text-align: center;
	font-size: 15px;
}


